{% extends 'plantilla.html' %}

{% block body %}
    
    <div class="login-box" style="top: 65%">
        <h2>Actualizar datos</h2>
        <form>
          <div class="user-box" style="display: flex;">
            <input type="text" name="RFC" required="">
            <label>RFC</label>
            <button type="button">Buscar</button>
          </div>
          
          <div class="user-box">
            <input type="text" name="Nombre" required="">
            <label>Nombre completo</label>
          </div>
          <div class="user-box">
            <input type="text" name="cedula" required="">
            <label>Cedula profesional</label>
          </div>
          <div class="user-box">
            <input type="email" name="correo" required="">
            <label>Correo electronico</label>
          </div>
          <div class="user-box">
            <input type="password" name="contrasena" required="">
            <label>Contrasena</label>
          </div>

          <div class="user-box">     
            <select name="rol" required="">
              <option value="0">Rol</option>
              <option value="1">Administrador</option>
              <option value="2">Usuario General</option>
            </select>
          </div>
              <a href="#">
                <span></span> 
                <span></span>
                <span></span>
                <span></span>
                Actualizar Datos
              </a>      
    </div>

{% endblock %}