{% extends 'plantilla.html' %}

{% block body %}

    <div class="login-box" style="top: 55%">
        <h2>Consulta Usuario</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>RFC</label>
          </div>
          <textarea id="" rows="10" cols="50" readonly></textarea>
          <a href="#" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Consultar
          </a>
        </form>
    
      </div>

{% endblock %}