{% extends 'plantilla.html' %}

{% block body %}

<div class="login-box">
    <h2>Eliminar Usuario</h2>
        <form>
                <div class="user-box" style="display: flex;">
                    <input type="text" name="RFC" required="">
                    <label>RFC</label>
                    <button type="button">Buscar</button>
                </div>
            <textarea id="" rows="10" cols="50" readonly></textarea>
            <a href="#" >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Eliminar
            </a>
        </form>
    
</div>

{% endblock %}