<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta</title>
</head>
<body>
    <h1>Receta Médica</h1>
    <h3>Médico a cargo: {{pacientes.0.2}}</h2>
    <h3>Paciente: {{pacientes.0.1}}</h2>
    
    <h2>Datos de Exploracion</h2>
    <h3>Fecha de Exploracion: {{pacientes.0.3}}</h2>
    <h3>Altura: {{pacientes.0.4}}</h3>
    <h3>Temperatura: {{pacientes.0.5}}</h3>
    <h3>Latidos Por minuto: {{pacientes.0.6}}</h3>
    <h3>Porcentaje de Oxigeno en Glucosa: {{pacientes.0.7}}</h3>
    <h3>Síntomas: {{pacientes.0.8}}</h3>
    <h3>Tratamiento Recetado: {{pacientes.0.9}}</h3>
    <h3>Requiere Estudios: {{pacientes.0.10}}</h3>
    
</body>
</html>

