html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #243b55 !important;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.navbar {
	background:rgba(0,0,0,.5) !important;
    display: flex;
}

.navbar a {
	float: left;
	display: block;
    color: #fff;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
}

.dropdown-menu a{
    color: black;
  }