{% extends 'plantilla.html' %}

{% block body %}
      

<div style="display: flex;">
      <div class="login-box" style="top: 75%;">
          <h2>Expediente Paciente</h2>
          <form action="/expediente_paciente" method="POST">
            <div class="user-box">
              <input type="text" name="medico" required="">
              <label>Médico</label>
            </div>
            <div class="user-box">
              <input type="text" name="Nombre" required="">
              <label>Nombre completo</label>
            </div>
            <label class ="user-box" style="color:white">Fecha de nacimiento</label>
            <div class="user-box">
              <input type="date" name="fechanac" required="">
            </div>
            <label class="user-box" style="color:white">Enfermedades crónicas</label>
            <div class="user-box">            
              <textarea rows="5" cols="50" name="enfermedades"></textarea>
            </div>
            <label class="user-box" style="color:white" >Alergias</label>
            <div class="user-box">            
              <textarea rows="5" cols="50" name="alergia"></textarea>
            </div>
            <label class="user-box" style="color:white" >Antecedentes Familiares</label>
            <div class="user-box">            
              <textarea rows="5" cols="50" name="antecedentes"></textarea>
            </div>
            <button type="submit">Registrar</button> 
          </form>
      </div>    
</div>

{% endblock %}

